*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}
html,body{
  min-height: 100vh;
  background-color: blanchedalmond;
}
p{
  margin: 16px auto;
  line-height: 1.5em;
}
.layout{
  max-width: 90%;
  margin:0 auto;
}
nav{
  display: grid;
  margin:40px 0;
  text-align: right;
}
nav .links{
  display: inline-block;
}
nav a{
  display: inline-block;
  margin-left: 20px;
  font-weight: 800;
  padding-bottom: 10px;
  border-bottom: 3px solid transparent;
}
nav a:hover{
  border-color: red;
  text-transform: uppercase;
  color:brown
}
.gatsbyTitle{
  position: absolute;
  background: linear-gradient(90deg,#ff0000,#ffff00,#ff00f3,#0033ff,#ff00c4,#ff0000,#9f9f9f);
  background-size: 400%;
  font-family: sans-serif;
  letter-spacing: 4px;
  font-weight: 800;
  word-spacing: 5px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: animate 8s linear infinite;
  margin-top: -0.5rem;
  text-transform: uppercase;
} 
@keyframes animate{
  0%{
    background-position: 0%;
  }
  100%{
    background-position: 400%;
  }
}
footer p{
  text-align: center;
}