/*--------------------------------------------------------------------------------------------body-----------------------------------------------------------------------------------------------*/
.container{
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin:0px;
  width: 100%;
  height: 50vh;
}
.showcasePosition{
  color: burlywood;
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}
/*--------------------------------------------------------------------------------------------homepageImage--------------------------------------------------------------------------------------*/
.rockhome{
  margin-bottom: 1rem;
  text-align: center;
}
.rockhome img{
  border-radius: 50px;
}
/*--------------------------------------------------------------------------------------------recommendeTitle------------------------------------------------------------------------------------*/
.recommend{
  padding-bottom: 1rem;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 50px;
}
/*--------------------------------------------------------------------------------------------featuredPicture------------------------------------------------------------------------------------*/
.picturemove{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  border-top: 1px dotted black;
  border-bottom: 1px dotted black;
  border-radius: 25px;
  padding-bottom: 1rem;
}
.picturemovebody{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  text-align: center;
}
.homepicture img:hover{
 border-radius: 75px;
 transition: 0.5s;
}
.homepicture p{
  color: brown;
  margin-bottom: 0.2rem;
}
.homepicture p:hover{
  font-weight: 800;
  text-transform: uppercase;
}

/*--------------------------------------------------------------------------------------------form-----------------------------------------------------------------------------------------------*/
.form{
  padding-top: 0.8rem;
}
.form label {
  padding-top: 1rem;
  display: block;
}
.form button{
  display: block;
  margin-top: 0.5rem;
  color:white;
  background-color: brown;
  width: 10.4rem;
}
.form textarea{
  height: 20rem;
}
.form textarea,input{
  width: 100%;
}
.form button:hover{
  font-weight: 100%;
  color: aqua;
  text-transform: uppercase;
  font-size: large;
}