.containermovies{
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin:0px;
  width: auto;
  height: auto;
}
.tekstmovies{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color:brown;
}
.eindelijk {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  justify-content:space-evenly;
}
.eindelijk p{
font-size: 20px;
text-decoration: underline;
margin-bottom: 0.1rem;
font-weight: bold;
}
.moviesIndexPage{
  text-align: center;
}