.picturemovie img{
  width: 90;
  height: 50vh;
  margin-bottom: auto;
}

.genres{
  margin-top: 0.2rem;
  border-radius: 50px;
  width: auto;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  padding: 0.2rem;
}
.indexmovie{
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}