.title{
  text-align: center;
  text-decoration: underline;
}
.genres{
  margin-top: 0.2rem;
  width: auto;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  color: brown;
}
.description{
  text-align: center;
}
