.containermovies{
  display: inline-block;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin:0px;
  width: auto;
  height: auto;
}
.tekstmovies{
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  color:brown;
}
.eindelijk {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  width: 100%;
}
.eindelijk img{
  height: 50vh;
  margin: 0.5rem;
  width: auto;
}
.eindelijk p{
font-size: 18px;
text-decoration: underline;
margin-bottom: -0.1rem;
}
.moviesIndexPage{
  text-align: center;
}